<div class="contain">
  <div class="container-fluid colour">
    <div class="dropdown">
        <h3  (click)="changingstyle('tag1')"[ngClass]="{'highlighted':div1clicked}" class="heading">HOME</h3>
        <h3  (click)="changingstyle('tag2')" [ngClass]="{'highlighted':div2clicked}" class="heading">PORTFOLIO</h3>
        <h3  (click)="changingstyle('tag3')" [ngClass]="{'highlighted':div3clicked}" class="heading">CONTACT</h3>
    </div>

    <div class="horzintal">
    <div  class="hor" >
      <div  class="container-fluid pt-40"   style="height:650px;width:90%;margin:0 auto;" >
        <br><br><br><br><br> <br>
          <div class="top">ARCHANA H</div>
           <br><br>
          <div style="height:3px;width:100%;background-color: black;"></div>
           <br><br><br>
          <div class="tab">
            <h3  (click)="changingstyle('tag1')"[ngClass]="{'highlighted':div1clicked}" class="heading">HOME</h3>
            <h3  (click)="changingstyle('tag2')" [ngClass]="{'highlighted':div2clicked}" class="heading">PORTFOLIO</h3>
            <h3  (click)="changingstyle('tag3')" [ngClass]="{'highlighted':div3clicked}" class="heading">CONTACT</h3>
          </div>
      </div>
    </div>
    <div class="line"></div> 
    <div style="height: 700px;width: 80%;" >
      <div *ngIf="activeTag==='tag1'" >
        <app-home></app-home>
      </div>
      <div *ngIf="activeTag==='tag2'">
        <app-portfolio></app-portfolio>
      </div>
      <div *ngIf="activeTag==='tag3'">
        <app-contact></app-contact></div>
    </div>
    </div>
    <footer>
      <p>Archana Raju</p>
      <p>For more such templates follow us on:</p>
      <div class="social">
        <a href=""><i class="fab fa-facebook-f">f</i></a>
        <a href=""><i class="fab fa-instagram">i</i></a>
        <a href=""><i class="fab fa-dribble">d</i></a>
        <a href=""><i class="fab fa-youtube">U</i></a>
        <a href=""><i class="fab fa-twitter">T</i></a>
      </div>
      <p class="end">CopyRight &copy; By Archanaraju</p>
    </footer>
  </div>
</div>