
<div class="container-fluid" style="height:760px;width: 100%;margin-top: 5%;padding-top: 20%;">
    <div class="contain">
        <div class="box"></div>
        <div class="box1">
            <div class="box2"></div>
        </div>
        <div class="box3">
            <div class="box4">
                <div class="para">Website </div><div class="para2">Developer</div>
            </div>
            <div class="line"></div>
            <br>
            <br>
            <small>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum harum voluptas beatae enim animi! Similique earum, facere obcaecati.</small>
            <br><br>
            <div class="fs">Archana</div>
        </div>
    </div>
</div> 
